.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.issue-card__title{
  padding-bottom: 10px;
  font-size: 20px;
  color: black;
}

.issue-card__description{
  padding-bottom: 10px;
  font-size: 15px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}

.center-div {
  text-align: center;
}

